@import "../../styles/core/core-variables";

.slide-left-container {
  background: #e6e8f6;

  .slides-container {
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 8px;
  }

  .active-slide {
    background-color: #371f5c;
    color: #ffffff;
    cursor: pointer;
  }

}

.slide-right-container {
  width: calc(100% - 15%)
}

.slide-right-container-top {
  background: #e6e8f6;
}

slide-right-container-bottom {
  height: calc(100% - 9%);
  background: #e6e8f6;
}

.layerForm {
  height: calc(100% - 40%);
  overflow-y: auto
}

.layer {
  background: $gradient-color;
  height: 70px;

}

.accordian {
  border: 2px solid #371f5c;
  border-radius: 4px;
  margin: 0.5rem auto
}

.overlay {
  top: 0;
  left: 0;
  background: rgba(224, 222, 222, 0.5); 
  z-index: 999; 
}

