.login-container {
  margin: 10rem auto ;
border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.userIcon{
  width: 70px;
  height: 70px;
  border-radius: 70%;
  position: absolute;
  left: 610px;
  top: 37px
}


