.list-container {
  margin: 1rem auto;
  border-radius: 5px;
  background: #e5dff7;
}

.nested-layer {
  border: 2px solid black;
  background: #371f5c;
}

.tableLayer-container {
  margin: 1rem auto;
  border-radius: 3px;
  background: #e5dff7;
}

// .drag {
//   border: 1px solid #371f5c !important;
//   background-color: #b7a3d4;
// }